{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["last 2 versions"],
				"node": 6
			}
		}],
		"react"
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		["transform-runtime", { "polyfill": false, "regenerator": true }]
	]
}
