.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 100%;
}

.App-header>a {
	height: 5rem;
	padding: .5rem;
	background-color: #222;
	color: white;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.App-header h2 {
	font-size: 2rem;
	margin: 0;
}

.App-layout {
	display: flex;
	height: calc(100vh - 5rem);
}

.App-content {
	width: 100%;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
