.Menu-container {
	width: 15rem;
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

.Menu-collection {
	list-style: none;
	padding: 1rem;
	margin: 0;
	text-transform: capitalize;
	background-color: lightgray;
}

.Menu-object-container {
	padding: 0;
	margin: 0;
	background-color: white;
}

.Menu-object {
	list-style: none;
	padding: .5rem;
	margin: 0;
	font-size: .8rem;
}

.Button-object {
	margin: .5rem;
}
