form.SchemaForm > div > ul > li > div {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 1rem 0.5rem;
}

form.SchemaForm > div > ul > li > div > label {
	font-size: 1rem;
	font-weight: 700;
	margin-right: 1rem;
	min-width: 15rem;
	text-align: right;
	padding: 0.5rem 1rem;
}

form.SchemaForm > div > ul > li > div input {
	flex: 1;
	max-width: 30rem;
	position: relative;
	font-size: 1rem;
	padding: 0.4rem;
	border: 1px solid #ccc;
	height: 2rem;
}

form.SchemaForm > div > ul > li > div textarea {
	flex: 1;
	max-width: 30rem;
	position: relative;
	font-size: 1rem;
	padding: 0.4rem;
	border: 1px solid #ccc;
	height: 5rem;
}

form.SchemaForm > div > ul > li > div select {
	flex: 1;
	max-width: 30rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	height: 2rem;
}

form.SchemaForm > div {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 1rem 0.5rem;
}

form.SchemaForm > div > label {
	font-size: 1rem;
	font-weight: 700;
	margin-right: 1rem;
	min-width: 15rem;
	text-align: right;
	padding: 0.5rem 1rem;
}

form.SchemaForm > div input {
	flex: 1;
	max-width: 30rem;
	position: relative;
	font-size: 1rem;
	padding: 0.4rem;
	border: 1px solid #ccc;
	height: 2rem;
}

form.SchemaForm > div textarea {
	flex: 1;
	max-width: 30rem;
	position: relative;
	font-size: 1rem;
	padding: 0.4rem;
	border: 1px solid #ccc;
	height: 5rem;
}

form.SchemaForm > div select {
	flex: 1;
	max-width: 30rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	height: 2rem;
}

form.SchemaForm > div > ul.SchemaArray {
	flex: 1;
	max-width: 30rem;
	display: flex;
	flex-flow: column;
	font-size: 1rem;
	padding: 0;
	margin: 0;
	list-style: none;
}

form.SchemaForm > div > ul.SchemaArray > li {
	max-width: 30rem;
	display: flex;
	flex-flow: row;
	margin-bottom: 0.5rem;
}

form.SchemaForm > div > ul.SchemaArray > li > div {
	width: 100%;
	display: flex;
}

form.SchemaForm > div > ul.SchemaArray > li.SchemaArrayAdd {
	flex-direction: row-reverse;
}

form.SchemaForm > div > ul > li > div > ul.SchemaArray {
	flex: 1;
	max-width: 30rem;
	display: flex;
	flex-flow: column;
	font-size: 1rem;
	padding: 0;
	margin: 0;
	list-style: none;
}

form.SchemaForm > div > ul > li > div > ul.SchemaArray > li {
	max-width: 30rem;
	display: flex;
	flex-flow: row;
	margin-bottom: 0.5rem;
}

form.SchemaForm > div > ul > li > div > ul.SchemaArray > li > div {
	width: 100%;
	display: flex;
}

form.SchemaForm > div > ul > li > div > ul.SchemaArray > li.SchemaArrayAdd {
	flex-direction: row-reverse;
}

form.SchemaForm button {
	border-radius: 5px;
	padding: 0 1rem;
	font-size: 1rem;
	background-color: lightgrey;
	border: 1px solid grey;
	margin: 0 0.5rem;
	height: 2rem;
}

form.SchemaForm > button:active {
	background-color: grey;
}
