form.ObjectForm > div {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 1rem .5rem;
}

form.ObjectForm > div > label {
	font-size: 1rem;
	font-weight: 700;
	margin-right: 1rem;
	min-width: 15rem;
	text-align: right;
	padding: .5rem 1rem;
}

form.ObjectForm > div input {
	flex: 1;
	max-width: 30rem;
	position: relative;
	font-size: 1rem;
	padding: .4rem;
	border: 1px solid #ccc;
	height: 2rem;
}

form.ObjectForm > div textarea {
	flex: 1;
	max-width: 30rem;
	position: relative;
	font-size: 1rem;
	padding: .4rem;
	border: 1px solid #ccc;
	height: 5rem;
}

form.ObjectForm > div select {
	flex: 1;
	max-width: 30rem;
	font-size: 1rem;
	padding: .5rem 1rem;
	border: 1px solid #ccc;
	height: 2rem;
}

form.ObjectForm > div > ul.ObjectArray {
	flex: 1;
	max-width: 30rem;
	display: flex;
	flex-flow: column;
	font-size: 1rem;
	padding: 0;
	margin: 0;
	list-style: none;
}

form.ObjectForm > div > ul.ObjectArray > li {
	max-width: 30rem;
	display: flex;
	flex-flow: row;
	margin-bottom: .5rem;
}

form.ObjectForm > div > ul.ObjectArray > li > div {
	width: 100%;
	display: flex;
}

form.ObjectForm > div > ul.ObjectArray > li.ObjectArrayAdd {
	flex-direction: row-reverse;
}

form.ObjectForm button {
	border-radius: 5px;
	padding: 0 1rem;
	font-size: 1rem;
	background-color: lightgrey;
	border: 1px solid grey;
	margin: 0 .5rem;
	height: 2rem;
}

form.ObjectForm > button:active {
	background-color: grey;
}
